ion-content{
    // --background: url(/assets/imagem/fundologin.jpg)0 0/100% 100% no-repeat;
}
.margin-topo{
    margin-top: 100px;
}

ion-card{
    border-radius: 10px;
    box-shadow: 3px 2px 3px  #58ACFA;
}

.toBottom{
    opacity: 0.6;
    font-size: 14px;
    color: #B0B0B0;
    background: #07344b;
}

.bgBtn{
    --background:#07344b;
}