/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.toast-message{
    opacity: 0.5;
    --color:#F4F4F4;
    font-size: larger;
    text-align: center;
    --background: #006666;
}

.alert-message {
    color: #F4F4F4 !important;
}

.alert-custom-class .alert-wrapper {
    --backdrop-opacity: 0.8;
    border-radius :12px !important;
    --background: #006666 !important;
    .alert-title{
        color: #F4F4F4 !important;
    }
    button {
        color: #F4F4F4 !important;
        --background: linear-gradient(197deg, #e6ffff 0%, #76cfff 13.5%, #229CBD 33.33%, #006666 100%);
    }
}

.gm-style {
    color: #006666 !important;
}

.custom-loader-class {
    opacity: 0.8;
    color: #006666 !important;
    --spinner-color: #006666 !important;
}

.loading-wrapper.sc-ion-loading-md {
    border-radius: 12px !important;
}